@model Contact

@{
    ViewData["Title"] = "Contacts";
}



<div class="text-center">
    <h2 class="display-4">@ViewData["Message"]</h2>
    <p>@Model.Nom</p>
    <a href="#" class="btn btn-primary">Ajouter un contact</a>

</div>
